/* TODO: your styles goes here*/
.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-box {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 0 5px;
    width: 50%;
    min-height: 100px;
    padding-left: 50px;
    align-items: flex-start;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}


body>ul>li {
    border-top: 1px solid black;

}

ul li {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

ul li:hover {
    cursor: pointer;
    background-color: lightblue;
}

span {
    display: inline;
}

.material-icons.orange600 {
    color: #ebb16b;
}

ul ul {
    display: none;

}



.right-click-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    list-style: none;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 2px;
    display: none;
}

.right-click-menu li {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 10px;
    margin: 0;
}

.right-click-menu li:hover {
    background: lightblue;
}

.show,
.active {
    display: block;
}