.header__wrap,
.section-second {
    background-color: #fff;
}

.btn_start {
    color: #fff !important;
    background-color: #111 !important;
}

.body-btn_text {
    color: #fff !important;
    background-color: coral !important;
}

.section-first {
    background-color: #525252;
}

.section-first .section-wrap__heading {
    color: #fff;
}

.section-first .card,
.footer {
    color: #fff;
    background-color: #525252;
}


.form__btn {
    color: #fff !important;
    background-color: lightcoral !important;
}