body {
  margin: 0;
  padding: 0;
  background-color: white; }
  body .header {
    background: url(../img/m-h-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 50% left 0;
    border-bottom-right-radius: 45%;
    padding-bottom: 8.5%; }
    body .header .landing-logo {
      padding-left: 11%; }
      body .header .landing-logo img {
        display: inline-block;
        margin-left: 20px;
        width: 45px;
        height: 45px;
        justify-content: flex-start;
        vertical-align: middle; }
      body .header .landing-logo p {
        font-family: "Hind";
        color: #2c2f3c;
        display: inline-block;
        justify-content: flex-start;
        font-size: 23px;
        font-weight: 600;
        margin-left: 15px;
        vertical-align: middle;
        line-height: 1; }
        body .header .landing-logo p span {
          font-size: small;
          display: block;
          font-weight: lighter; }
    body .header_heading {
      font-family: 'Source Sans Pro';
      font-size: 70px;
      font-weight: 900;
      display: block;
      text-align: left;
      color: #2c2f3c;
      width: 10em;
      color: #2c2f3c;
      margin-top: 65px;
      margin-bottom: 0.8rem;
      padding-left: 12.5%;
      position: relative;
      z-index: 1;
      line-height: 1; }
      body .header_heading::before {
        position: absolute;
        content: "";
        background: rgba(40, 210, 240, 0.986);
        width: 300px;
        height: 50px;
        z-index: -1;
        margin-top: 5rem; }
    body .header_text {
      display: inline-block;
      color: #2c2f3c;
      width: 40em;
      padding-left: 12.5%;
      font-family: "Hind";
      white-space: pre-line;
      font-size: 16px; }
    body .header_button {
      margin-left: 12.5%;
      margin-top: 40px;
      padding: 10px 40px;
      color: white;
      font-family: 'Hind';
      font-weight: bold;
      font-size: 18px;
      background-color: #699900;
      border: none;
      border-radius: 5px;
      margin-bottom: 30px; }
    body .header .login {
      display: inline-block;
      padding-left: 9%;
      color: white;
      font-family: 'Hind';
      font-weight: bold;
      font-size: 19px; }
  body .section, body .section .section_card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .section_text {
      font-family: 'Source Sans Pro';
      font-size: 40px;
      font-weight: 600;
      display: block;
      text-align: center;
      color: #2c2f3c;
      color: #2c2f3c;
      margin-top: 40px;
      margin-bottom: 10px; }
      body .section_text::after {
        content: "";
        background-color: rgba(40, 210, 240, 0.986);
        position: absolute;
        width: 178px;
        height: 50px;
        margin-left: -190px;
        z-index: -1; }
    body .section .section_card_wrap {
      align-items: center; }
      body .section .section_card_wrap .section_card {
        display: flex;
        align-items: center;
        background-color: #21232e;
        margin: 20px 0;
        border-radius: 5px;
        width: 950px; }
        body .section .section_card_wrap .section_card_img {
          position: relative;
          margin: 10px;
          object-fit: cover;
          width: 100%; }
        body .section .section_card_wrap .section_card_right_container {
          vertical-align: middle;
          margin: 0 5%;
          text-align: center; }
          body .section .section_card_wrap .section_card_right_container .section_card_heading {
            font-family: 'Source Sans Pro';
            font-size: 25px;
            font-weight: 600;
            display: block;
            text-align: center;
            color: #2c2f3c;
            color: white;
            padding: 25px 0; }
          body .section .section_card_wrap .section_card_right_container .section_card_text {
            font-family: "Hind";
            font-size: 16px;
            font-weight: 200;
            margin: 5% 0;
            text-align: justify;
            color: #b3b6b9; }
          body .section .section_card_wrap .section_card_right_container .section_link {
            color: white;
            font-family: 'Hind';
            font-weight: lighter;
            font-size: 16px;
            display: block;
            margin-bottom: 3em; }
    body .section_banner {
      margin-top: 150px;
      width: 1050px;
      height: 125px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #65950c, #2e5cd1);
      display: flex;
      align-self: center;
      z-index: -2; }
      body .section_banner_heading {
        font-family: 'Source Sans Pro';
        font-size: 28px;
        font-weight: 900;
        display: inline-block;
        text-align: center;
        color: #2c2f3c;
        margin-left: 150px;
        margin-bottom: 0; }
        body .section_banner_heading::before {
          content: "";
          background-color: rgba(40, 210, 240, 0.986);
          position: absolute;
          width: 57px;
          height: 24px;
          margin-top: 7px;
          margin-left: 114px;
          z-index: -1; }
      body .section_banner_text {
        color: rgba(255, 255, 255, 0.842);
        margin-left: 150px; }
      body .section_banner_button {
        padding: 10px 40px;
        color: white;
        font-family: 'Hind';
        font-weight: bold;
        font-size: 18px;
        background-color: #699900;
        border: none;
        border-radius: 5px;
        margin-bottom: 30px;
        height: 50px;
        margin: 37.5px 0;
        margin-left: 250px; }
  body .footer {
    width: 100%;
    height: 200px;
    display: block;
    margin-top: -60px;
    position: absolute;
    z-index: -3;
    background-color: #21232e; }
    body .footer-wrap {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      color: #b3b6b9;
      z-index: 1; }
      body .footer-wrap .footer_logo {
        margin-left: 150px;
        display: flex;
        margin-bottom: 25px; }
        body .footer-wrap .footer_logo img {
          width: 45px;
          height: 45px;
          vertical-align: middle; }
        body .footer-wrap .footer_logo p {
          font-family: "Hind";
          display: flex;
          justify-content: flex-start;
          font-size: 23px;
          font-weight: 600;
          line-height: 1;
          flex-direction: column;
          margin: 5px 5px; }
          body .footer-wrap .footer_logo p span {
            font-size: small;
            display: block;
            font-weight: lighter; }
      body .footer-wrap .footer_text {
        display: block;
        text-align: left;
        margin-bottom: 10px;
        width: 350px;
        margin-top: 100px; }
      body .footer-wrap .footer-cr {
        margin-right: 100px;
        margin-bottom: 10px; }
