* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b013c;
}

body .header {
  display: flex;
  flex-direction: column;
  margin: 0 8% 0 5%;
  flex: 1 1 auto;
  background: url(../img/header-bg.png) no-repeat;
  background-size: contain;
  object-fit: cover;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: "Roboto";
}

body .header .logo {
  margin-top: 2%;
  display: inline-block;
  border: 1px solid white;
  color: #FFFFFF;
  width: 15%;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
}

body .header h1 {
  margin-top: 10%;
  font-size: 600%;
}

body .header h3 {
  margin-top: 2%;
  font-size: 160%;
  font-weight: 300;
}

body .header p {
  margin-top: 2%;
  width: 33%;
  font-size: 107%;
  font-style: italic;
  font-family: "Open Sans";
}

body .header_form {
  display: block;
  padding-top: 3%;
  font-size: 200%;
}

body .header_form .input_area {
  display: inline-block;
  width: 29%;
  height: 45px;
}

body .header_form .input_area[value] {
  padding-left: 5px;
  font-size: 18px;
}

body .header_form button {
  width: 9%;
  height: 45px;
  font-size: 18px;
  background-color: #f8cb8a;
}

body .header_form button:hover {
  background-color: #f6bb66;
}

body .container {
  background-color: #fefaf3;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

body .container h3 {
  color: #111111;
}

body .container h2 {
  color: #0b013c;
}

body .container .first_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  margin: 0 8% 0 5%;
}

body .container .first_section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}

body .container .first_section_header h3 {
  margin-top: 7%;
  font-size: 180%;
  font-weight: 400;
  text-align: center;
}

body .container .first_section_header h2 {
  font-size: 300%;
  margin-top: 2%;
  text-align: center;
}

body .container .first_section_header::after {
  content: " ";
  margin-top: 4%;
  background-color: #f8cb8a;
  position: relative;
  height: 10px;
  width: 100px;
}

body .container .first_section_paragraph {
  width: 60%;
  text-align: center;
  margin-top: 2%;
  font-size: 120%;
  text-align: center;
  font-family: "Open Sans";
}

body .container .second_section {
  margin: 0 8% 0 5%;
}

body .container .second_section p {
  color: #808080;
}

body .container .second_section_warp {
  display: flex;
}

body .container .second_section_warp .main-pickture {
  width: 65%;
}

body .container .second_section_warp .main-pickture .big_picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body .container .second_section_warp .text {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 3%;
}

body .container .second_section_warp .text .second_section_header {
  font-family: "Roboto";
  display: inline-block;
}

body .container .second_section_warp .text .second_section_header h3 {
  margin-top: 7%;
  font-size: 180%;
  font-weight: 400;
}

body .container .second_section_warp .text .second_section_header h2 {
  font-size: 310%;
  width: 50%;
  margin-top: 5%;
}

body .container .second_section_warp .text .second_section_header::after {
  content: " ";
  margin-top: 8%;
  display: block;
  background-color: #f8cb8a;
  position: relative;
  height: 10px;
  width: 115px;
}

body .container .second_section_warp .text p {
  font-family: "Open Sans";
  margin-top: 8%;
  font-size: 120%;
  font-style: italic;
  width: 75%;
}

body .container .second_section_illustrations {
  display: flex;
  margin-top: 9%;
  font-size: 120%;
  font-family: "Open Sans";
  font-style: italic;
}

body .container .second_section_illustrations .first_block {
  flex: 0 0 calc(45% - 30px);
  object-fit: cover;
}

body .container .second_section_illustrations .first_block img {
  width: 100%;
}

body .container .second_section_illustrations .first_block p {
  width: 90%;
  margin: 5%;
}

body .container .second_section_illustrations .second_block {
  flex: 0 0 calc(45% - 30px);
  margin-left: 10%;
  object-fit: cover;
}

body .container .second_section_illustrations .second_block img {
  width: 100%;
}

body .container .second_section_illustrations .second_block p {
  display: inline-block;
  width: 90%;
  margin: 5%;
  height: 10rem;
}

body .pre_footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  background: url(../img/space-bg.png);
  align-items: center;
  margin: 0 8% 0 5%;
  padding-bottom: 10%;
}

body .pre_footer header {
  margin-top: 10%;
  display: block;
  text-align: center;
  font-family: "Roboto";
}

body .pre_footer header h3 {
  font-size: 180%;
  font-weight: 400;
}

body .pre_footer header h2 {
  display: block;
  font-size: 350%;
  width: 70%;
  margin-top: 2%;
  padding-left: 15%;
}

body .pre_footer header::after {
  content: " ";
  margin-top: 3%;
  background-color: #f8cb8a;
  position: relative;
  height: 10px;
  width: 100px;
  align-self: center;
  display: inline-flex;
}

body .pre_footer p {
  margin-top: 2%;
  display: block;
  text-align: center;
  font-family: "Open Sans";
  width: 70%;
  font-size: 130%;
  font-style: italic;
}

body .footer {
  padding: 10% 0;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
  background: url(../img/footer-bg.jpeg) no-repeat;
  color: #FFFFFF;
  justify-content: space-around;
  flex: 1 1 auto;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

body .footer address {
  align-self: flex-end;
  padding-bottom: 5%;
  font-family: "Open Sans";
  font-style: normal;
  line-height: 1.5;
  vertical-align: middle;
}

body .footer address .address-building {
  display: block;
  font-family: "Roboto";
  font-size: 200%;
}

body .footer address a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

body .footer address a:hover {
  text-decoration: underline;
}