a:link {
    text-decoration: none;
}

li {
    color: black;
}

.tm-col-md-reverse {
    flex-direction: row-reverse;
}

.p-0>div {
    background-color: #76cdd8
}

.tm-bg-color-secondary,
.btn {
    background-color: #019999;
    border: none;
}


.tm-mb-30:nth-child(even) {
    margin-top: 2em;
    margin-bottom: 2em;
}

.tm-form-header {
    background-color: #23d4d4;
    margin-top: 2em;
}

.pr-md-5 {
    margin-top: -50px;
    margin-bottom: -50px;
    z-index: 2;
}

.tm-text-color-primary,
.tm-card:hover {
    color: #76cdd8;

}

.tm-card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 50px solid transparent;
    border-top: 0px;
    border-right: 50px solid #76cdd8;
    color: #76cdd8;
}

.tm-col-md-reverse:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 50px solid transparent;
    border-top: 0px;
    border-left: 50px solid #76cdd8;
    color: #76cdd8;
}

.btn:hover {
    background-color: rgb(118, 205, 216);
}

.img-fluid:hover {
    transform: scale(1.1);
}

.tm-pricing-table {
    border: 1px solid #019999;
}

.tm-pricing-table:hover .btn-secondary {
    background: #24d4d4;
}

.tm-pricing-table:hover .tm-pricing-discount {
    display: block;
    margin-bottom: -0.5em;
}

.tm-pricing-discount__star {
    color: red;
}

.tm-pricing-discount__text {
    color: #24d4d4;
}

.form-control:focus,
select:focus,
.tm-pricing-table:hover {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}