*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto";
  font-weight: 400;
}

img {
  max-width: 100%;
}


.header-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #99ccff;
}

.header-wrap {
  background-color: #99ccff;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0px auto;
  padding: 0px 10px;

}

.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px;
  height: 200px;
}

.header-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  font-weight: 300;
  display: block;
  position: relative;
  z-index: 4;
}

.header-logo span {
  color: #162b4d;
}

.header-list {
  display: flex;
  flex: 100%;

}

.header-list li {
  list-style: none;
  padding: 30px;
}

.header-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
}

li:hover {
  background-color: #162b4d;
  cursor: pointer;
}

.header__burger {
  display: none;
}


.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 4;
}

.header__burger span {
  position: absolute;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 8px;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header-menu {
  display: none;
}

.section-wrap {
  display: flex;
  margin-top: 25px;
  position: relative;
  color: #ffffff;
}

.section-wrap img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section-header,
.header {
  font-size: 40px;
  font-weight: 300;
}

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20% 5%;
  position: relative;
  z-index: -1;
}

.container {
  margin: 0px 10px;
  color: #484848;
}

.blog {
  margin: 20px 0;
}

.post {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}


.post-text h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 300;
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  margin-top: 10%;
}

.post-date {
  font-weight: 100;
  font-size: 40px;
  align-self: center;
  margin-bottom: 10%;
}


.paragraph {
  padding: 5% 0;
  font-size: 14px;
  line-height: 2;
}

.post-1 {
  background: #F3D250;
}

.post-2 {
  background: #8D8741;
}

.post-3 {
  background: #659DBD;
}

.post-4 {
  background: #DAAD86;
  margin-bottom: 10px;
}

.post:hover {
  opacity: 1;
}

.news-wrap {
  display: flex;
  flex-direction: column;

}

.news-text>* {
  margin: 10px 20px;
}

.news {
  border: 1px solid #484848;
  margin-bottom: 15px;
}

.news-header {
  font-size: 30px;
  font-weight: 300;
}

.learn-more-btn {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.learn-more-btn-text {
  display: block;
  padding: 8px;
  border: 1px solid #484848;
  text-decoration: none;
}

.learn-more-btn-text:hover {
  border: 1px solid transparent;
  text-decoration: underline;
}

.footer {
  background-color: #162b4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 100%;
  text-align: center;
  color: #ffffff;
}

.copyright {
  margin-top: 20px
}

.design {
  margin-bottom: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  line-height: 2;
}


@media (min-width:768px) {
  .container {
    display: flex;
  }

  .blog {
    width: 60%;
  }

  .news-wrap {
    width: 38%;
    margin-top: 20px;
    margin-left: 15px;
  }
}



@media (min-width: 1280px) {

  .header__burger {
    display: none;
  }

  .header-body {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  .header-menu {
    position: relative;
    z-index: 50;
    display: flex;
  }

  .section-wrap {
    margin-top: 20px;
    width: 100%;
  }

  li:hover {
    background-color: #162b4d;
    cursor: pointer;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .post {
    display: flex;
    flex-direction: row;
  }

  .post-flex-reverse {
    flex-direction: row-reverse;

  }

  .post-img {
    max-width: 50%;
  }

  .post-text {
    width: 50%;
    padding: 5px;
    margin: 5px;
  }

  .post-date {
    height: 90%;
    margin: 7px;
    text-align: center;
  }


  .blog {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .news-wrap {
    width: 30%;
    margin-top: 20px;
    margin-left: 15px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-text {
    text-align: left;
    vertical-align: baseline;
  }

  .copyright,
  .design {
    margin: 0;
  }
}