* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 16px;
    background-color: darkcyan;
}

.custom-box {
    width: 700px;
    background-color: #fff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
}
.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide {
    display: none;
}

.btn {
    padding: 15px 45px;
    background-color: darkcyan;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
}

.quiz-box .btn {
    margin: 15px 0;
}

.skip-question {
    display: flex;
    flex-direction: row-reverse;
}

.quiz-box .queston-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    padding: 20px 0;
    margin: 0;
}

.option {
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.score-box {
    width: 100%;
}

.result-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.result-box h1,
.result-box span {
    font-size: 26px;
    line-height: 42px;
    color: darkcyan;
    font-weight: 400;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .skip-question {
    width: 100%;
    float: left;
}

.quiz-box .option-container .option.correct{
    background-color: green;
    color:#fff;
}
.quiz-box .option-container .option.wrong{
    background-color: red;
    color:#fff;
}
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}