/* START: Task 1 Styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body div {
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
}

.cell {
    width: 50px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.yellow {
    background-color: yellow !important;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

#task2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 0 100px;
    margin: 0 0 10px 0;
}

form {
    margin: auto 0;
    font-size: small;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

input {
    font-size: 10px;
    width: 200px;
}

.invalid {
    color: #fff;
    background-color: tomato;
}

.valid {
    color: #fff;
    background: green;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
    margin: 0;
    padding: 0;
}

#court {
    width: 600px;
    height: 330px;
    background: url(assets/court.png) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;

}

.ball {
    position: absolute;
    left: 280px;
    top: 145px;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

.results {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.scoreA,
.scoreB {
    margin: 0;
    padding: 0;
}

.basketA {
    position: absolute;
    left: 5px;
    top: 135px;
    width: 15px;
    height: 15px;
    z-index: 290;
}

.basketB {
    position: absolute;
    right: 5px;
    top: 135px;
    width: 15px;
    height: 15px;
    z-index: 290;
}

/* END: Task 3 Styles */