// Write your styles here
// Write your styles here
@mixin page-button {
    padding: 10px 40px;
    color: white;
    font-family: 'Hind';
    font-weight: bold;
    font-size: 18px;
    background-color: map-get($map: $colors, $key: 'button');
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

@mixin page-links ($font-weight, $font-size) {

    color: white;
    font-family: 'Hind';
    font-weight: $font-weight;
    font-size: $font-size;
}

@mixin headers-styling ($font-size, $font-weight, $display, $align) {
    font-family: 'Source Sans Pro';
    font-size: $font-size;
    font-weight: $font-weight;
    display: $display;
    text-align: $align;
    color: map-get($map: $colors, $key: 'header');
}

body {
    margin: 0;
    padding: 0;
    background-color: map-get($colors, 'page');

    .header {
        background: $head-img;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 0;
        border-bottom-right-radius: 45%;
        padding-bottom: 8.5%;

        .landing-logo {
            padding-left: $head-left-padding - 1.5;

            img {
                display: inline-block;
                margin-left: 20px;
                width: $logo-width;
                height: $logo-heigth;
                justify-content: flex-start;
                vertical-align: middle;
            }

            p {
                font-family: $theme-font-family;
                color: map-get($map: $colors, $key: 'header');
                display: inline-block;
                justify-content: flex-start;
                font-size: 23px;
                font-weight: 600;
                margin-left: 15px;
                vertical-align: middle;
                line-height: 1;

                span {
                    font-size: small;
                    display: block;
                    font-weight: lighter;
                }
            }

        }

        &_heading {
            @include headers-styling(70px, 900, block, left);
            width: 10em;
            color: map-get($map: $colors, $key: 'header');
            margin-top: 65px;
            margin-bottom: 0.8rem;
            padding-left: $head-left-padding;
            position: relative;
            z-index: 1;
            line-height: 1;

            &::before {
                position: absolute;
                content: "";
                background: map-get($map: $colors, $key: 'marker');
                width: 300px;
                height: 50px;
                z-index: -1;
                margin-top: 5rem;
            }
        }

        &_text {
            display: inline-block;
            color: map-get($map: $colors, $key: 'header');
            width: 40em;
            padding-left: $head-left-padding;
            font-family: $theme-font-family;
            white-space: pre-line;
            font-size: 16px;
        }

        &_button {
            margin-left: $head-left-padding;
            margin-top: 40px;
            @include page-button;
        }

        .login {
            display: inline-block;
            padding-left: 9%;
            @include page-links(bold, 19px);
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_text {
            @include headers-styling(40px, 600, block, center);

            color: map-get($map: $colors, $key: 'header');
            margin-top: 40px;
            margin-bottom: 10px;

            &::after {
                content: "";
                background-color:  map-get($map: $colors, $key: 'marker');
                position: absolute;
                width: 178px;
                height: 50px;
                margin-left: -190px;
                z-index: -1;
            }
        }

        .section_card_wrap {
            @extend .section;
            align-items: center;

            .section_card {
                display: flex;
                align-items: center;
                background-color: map-get($map: $colors, $key: 'cards-and-footers');
                margin: 20px 0;
                border-radius: 5px;
                width: 950px;

                &_img {

                    position: relative;
                    margin: 10px;
                    object-fit: cover;
                    width: 100%;
                }

                &_right_container {
                    vertical-align: middle;
                    margin: 0 5%;
                    text-align: center;

                    .section_card_heading {
                        @include headers-styling(25px, 600, block, center);
                        color: white;
                        padding: 25px 0;
                    }

                    .section_card_text {
                        font-family: $theme-font-family;
                        font-size: 16px;
                        font-weight: 200;
                        margin: 5% 0;
                        text-align: justify;
                        color: rgb(179, 182, 185);
                    }

                    .section_link {
                        @include page-links(lighter, 16px);
                        display: block;
                        margin-bottom: 3em;

                    }
                }
            }


        }

        &_banner {
            margin-top: 150px;
            width: 1050px;
            height: 125px;
            border-radius: 5px;
            background-image: map-get($map: $colors, $key: 'gradient');
            display: flex;
            align-self: center;
            z-index: -2;

            &_heading {
                @include headers-styling(28px, 900, inline-block, center);
                margin-left: 150px;
                margin-bottom: 0;

                &::before {
                    content: "";
                    background-color: map-get($map: $colors, $key: 'marker');
                    position: absolute;
                    width: 57px;
                    height: 24px;
                    margin-top: 7px;
                    margin-left: 114px;
                    z-index: -1;

                }
            }

            &_text {
                color: rgba(255, 255, 255, 0.842);
                margin-left: 150px;
            }

            &_button {
                @include page-button;
                height: 50px;
                margin: 37.5px 0;
                margin-left: 250px;

            }
        }
    }

    .footer {
        width: 100%;
        height: 200px;
        display: block;
        margin-top: -60px;
        position: absolute;
        z-index: -3;
        background-color: map-get($map: $colors, $key: 'cards-and-footers');

        &-wrap {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            color: rgb(179, 182, 185);
            z-index: 1;


            .footer_logo {
                margin-left: 150px;
                display: flex;
                margin-bottom: 25px;

                img {

                    width: $logo-width;
                    height: $logo-heigth;
                    vertical-align: middle;
                }

                p {
                    font-family: $theme-font-family;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 23px;
                    font-weight: 600;
                    line-height: 1;
                    flex-direction: column;
                    margin: 5px 5px;


                    span {
                        font-size: small;
                        display: block;
                        font-weight: lighter;
                    }
                }
            }

            .footer_text {
                display: block;
                text-align: left;
                margin-bottom: 10px;
                width: 350px;
                margin-top: 100px;

            }

            .footer-cr {
                margin-right: 100px;
                margin-bottom: 10px;
            }
        }
    }
}