$head-img: url(../img/m-h-day.jpg);

$head-left-padding: 12.5%;

$logo-width: 45px;
$logo-heigth: 45px;

$theme-font-family: 'Hind';

$colors: (
    'button': rgb(105, 153, 0),
    'marker': rgba(40, 210, 240, 0.986),
    'cards-and-footers': rgb(33, 35, 46),
    'page': white,
    'header': rgb(44, 47, 60),
    'gradient': (linear-gradient(to right, rgb(101, 149, 12), rgb(46, 92, 209))),

);
