
$head-img: url(../img/m-h-night.jpg);

$head-left-padding: 10%;

$logo-width: 50px;
$logo-heigth: 50px;

$theme-font-family: 'Fresca';

$colors: (
    'button': rgb(227, 172, 0),
    'marker':  rgba(235, 85, 85, 0.986),
    'cards-and-footers': rgb(59, 63, 80),
    'page':  rgb(33, 35, 46),
    'header': white,
    'gradient': (linear-gradient(to right, rgb(223, 165, 4),rgb(149, 49, 79))),
);
